body{
    background-color: lightsteelblue;
}
.div2{
    border: 1px dashed maroon;
    display: inline-block;
    padding-right: 20px;
    vertical-align: top;
    height: 120px;
    width: 40%;
}
.div1{
    align-self: center;
    border: none;
}